* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  margin: auto;
  margin-top: 50px;
  background-color: #1a064a99;
  width: 600px;
  height: 800px;
  border-radius: 10px;
}

.search {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  gap: 20px;
}

.search input {
  display: flex;
  width: 300px;
  height: 50px;
  border-radius: 30px;
  padding-left: 30px;
  font-size: 20px;
  border: none;
  outline: none;
  font-weight: lighter;
}

.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: aliceblue;
  cursor: pointer;
}

.weather-icon {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.weather-icon img {
  width: 200px;
}
.temp{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  font-size: 80px;
  font-weight: bold;
  color: antiquewhite;
}
.city{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: bold;
  color: antiquewhite;
}

.data-container{
  display: flex;
  justify-content: center;
  padding-top: 50px;
  gap: 20px;
}

.data{
  display: flex;
  align-items: center;
  margin: auto;
  gap: 10px;
  font-size: 50px;
  color: white;
}
